
/*Home Page*/
.custom-header {
    background: #ADB8E8 !important;
}
.custom-thumbnail {
    max-width: 120px;
    width: 40%;
    float: left;
    margin: 0 10px 10px 0;
}
a.custom-link {
    color: rgb(75, 216, 158) !important;
}
.custom-text {
    color: #8395E4;
}
.custom-button {
    background-color: rgb(75, 216, 158) !important;
}
section, hr {
    clear: both;
}
body .custom-page {
   background-color: #D2E0DC;
}
#footer, #subpage-1 .ui-footer, #subpage-2 .ui-footer {
    background-color: #ADB8E8;
}
#homepage .ui-content, #subpage-1 .ui-content, #subpage-2 .ui-content {
    padding: 1em;
}