
/*Home Page*/
.custom-header {
    background: #ADB8E8 !important;
}
.custom-thumbnail {
    max-width: 120px;
    width: 40%;
    float: left;
    margin-right: 10px;
}
a.custom-link {
    color: rgb(75, 216, 158) !important;
}
.custom-text {
    color: #8395E4;
}
.custom-button, .ui-page-theme-a .ui-slider-track .ui-btn-active {
    background-color: rgb(75, 216, 158) !important;
}
.custom-button2, .ui-table-columntoggle-btn {
    background-color: rgba(126, 216, 75, 0.34) !important;
    }
#custom-form label {
    margin: 5px 2px;
}
#myPopupDialog .ui-header,#myPopupDialog .ui-footer, #myPopupDialog2 .ui-header,#myPopupDialog2 .ui-footer, #myPopupDialog3 .ui-header {
    background-color: #ADB8E8;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: rgba(232, 244, 233, 0.98) !important;
}

a.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
    background-color: #B1BCE7;
}

li.ui-li-divider.ui-bar-inherit {
    background-color: #D2E0DC !important;
}
section, hr {
    clear: both;
}
body .custom-page {
   background-color: #D2E0DC;
}
#footer, #subpage-1 .ui-footer, #subpage-2 .ui-footer {
    background-color: #ADB8E8;
}
#homepage .ui-content, #subpage-1 .ui-content, #subpage-2 .ui-content {
    padding: 1em;
}
.ui-content {
    max-width: 800px;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
    max-height: 22em;
}

/*SubPage-1 specific styles*/
.ui-collapsible-inset .ui-collapsible-heading-toggle {
  background-color: rgba(232, 244, 233, 0.98) !important
}
a.ui-btn.ui-btn-inline.ui-corner-all.ui-shadow.ui-icon-back.ui-btn-icon-left {
    background-color: rgba(126, 216, 75, 0.34);
}






/*Media Queries*/

/*@media screen and (min-width: 450px) {
    #homepage {
        display: none !important;
    }
}*/